<h1><%= @track["name"] %></h1>
<div>
  <img onClick='location.reload()' src="<%= @track["image"].last["#text"] %>" /><br/>
  <span><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></span>
</div>

<h2><%= @track["artist"]["name"] %></h2>

<a href="<%= @track["url"] %>" target="_blank">Listen on Last.fm</a><br/>
<script>
</script>
